@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Solway:wght@300;400;500;700&display=swap');

@theme {
  /* Branding Colors */
  --color-primary: #f15a24;
  --color-primary-dark: #d4491b;
  --color-secondary: #000100;
  --color-main-bg: #f5f5f5;
  --color-alt-bg: #f1f1f1;
  --color-header-bg: #fee6da;
  --color-card-bg: #ffffff;
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-text-main: #333333;
  --color-text-secondary: #666666;
  --color-border-accent: #e5e5e5;

  /* Typography */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Solway", serif;
  --font-accent: "Montserrat", sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-border-accent rounded-full hover:bg-primary/20 transition-colors;
  }
}